# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# ML artifacts (keep model ONLY if you want)
*.h5
*.pt
*.pth
*.onnx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Secrets
.env
*.key
